@model IPtreatmentmanagementPortal.Model.AdminDetails

@{
    ViewData["Title"] = "Login";
}



@*<h1>Login</h1>*@


    @*<hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>*@



<section class="vh-100" >
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <span class="text-danger">
                    @{ if (ViewBag.msg != null)
                        {
                            @ViewBag.msg
                        }
                    }
                </span>
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Log in</h3>

                        <form asp-action="Login">
                            <div class="form-outline mb-4">
                                <label asp-for="UserName" class="control-label"></label>
                                <input asp-for="UserName" class="form-control"/>
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>

                            <div class="form-outline mb-4">
                                <label asp-for="Password" class="control-label"></label>
                                <input type="password" asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>



                            <div class="form-group">
                                <input type="submit" value="Login" class="btn btn-dark" />
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
